<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73EAF1715E6BF7E00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF3715E6C7B400B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF5215E6C9DA00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF6C15E6CB3900B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF8615E6CE5D00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFA015E6D07000B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFBA15E6D1F100B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFD415E6D35300B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFEE15E6D46A00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EB00815E6D51800B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EB02215E6D66300B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E744858C15E7E9B600DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485A915E7EA2400DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485C215E7EA5900DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485DB15E7EAF100DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485F515E7EBF900DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E744861415E7EC2900DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBCB17159C78F600C8B2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
