<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Benchmark01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Benchmark02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tutorial01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tutorial03.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tutorial04.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Tutorial05.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Tutorial06.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Tutorial07.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Tutorial08.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Tutorial11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Tutorial13.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Tutorial15.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Tutorial16.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>TutorialAdvanced01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>TutorialAdvanced02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TutorialAdvanced04.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TutorialAdvanced05.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>TutorialAdvanced06.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73EAF1715E6BF7E00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF3715E6C7B400B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF5215E6C9DA00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF6C15E6CB3900B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAF8615E6CE5D00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFA015E6D07000B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFBA15E6D1F100B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFD415E6D35300B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EAFEE15E6D46A00B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EB00815E6D51800B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73EB02215E6D66300B95FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E744858C15E7E9B600DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485A915E7EA2400DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485C215E7EA5900DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485DB15E7EAF100DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74485F515E7EBF900DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E744861415E7EC2900DDE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7B4FEB317381286003E4489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBCB17159C78F600C8B2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
